<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="styles/style.css" type="text/css" media="screen"/>
  <link rel="manifest" href="/manifest.json"/>
  <%= import_vaadin_elements %>
  <title>MtG Elemental Card Search</title>
</head>
<body>

<section id="criteria">
  <header>Search MtG cards</header>
  <ul>
    <li><%= vaadin_combo_box @types, id: 'card-type', immediate: '/update', use_callback: true %></li>
    <li><%= vaadin_combo_box @cmcs, id: 'cmc', immediate: '/update', use_callback: true %></li>
    <li><%= vaadin_combo_box @sets, id: 'sets', item_value_path: 'code', item_label_path: 'name', immediate: '/update', use_callback: true %></li>
  </ul>
</section>
<section id="filters">
  <header>Current criteria</header>
  <ul>
    <li id="active">No search criteria active. Showing all cards.</li>
  </ul>
</section>
<section id="results">
  <header>Cards matching your selection</header>
  <p>Your current search matches <strong id="size"><%= @cards.size %></strong> results.</p>
  <%= vaadin_grid id: 'grid', column_names: %w{name manaCost type}, lazy_load: '/cards', size: 6 %>
</section>
<section id="footer">
  <footer>
    This website displays data that is Copyright © Wizards of the Coast - All Rights Reserved. This website is not
    affiliated with Wizards of the Coast in any way.
  </footer>
</section>

<script src="scripts/app.js"></script>
</body>
</html>