<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="styles/style.css" type="text/css" media="screen"/>
  <%= import_vaadin_elements %>
  <title>MtG Elemental Card Search</title>
</head>
<body>
<section id="criteria">
  <header>Search MtG cards</header>
  <ul>
    <li><%= vaadin_combo_box @types, id: 'card-type' %></li>
    <li><%= vaadin_combo_box @cmcs, id: 'cmc' %></li>
    <li><%= vaadin_combo_box %></li>
  </ul>
</section>
<section id="filters">
  <header>Current criteria</header>
  <ul>
    <li>No search criteria active. Showing all cards.</li>
  </ul>
</section>
<section id="results">
  <header>Cards matching your selection</header>
  <p>Your current search would show <strong><%= @cards.size %></strong> results.</p>
  <%= vaadin_grid %>
</section>
<section id="footer">
  <footer>
    This website displays data that is Copyright © Wizards of the Coast - All Rights Reserved. This website is not
    affiliated with Wizards of the Coast in any way.
  </footer>
</section>
</body>
</html>